{% extends "myClassrooms/base.html" %}


{% block content %}
    
    <h1>{{object.name}}</h1>
	<article class="media content-section">
		<div class="media-body">
            <p>
                <br><b>Location:</b> {{object.location}}<br><br>
    			<img src="/media/{{object.classroomImage}}" width="300px">
                <br><br>
                <b>Courses:</b><br>
                <ul class="list-group">
                    {% for course in vote %}
                    <li class="list-group-item">{{course.className}} - {{course.semester}} <b></b></li>
                    {% endfor %}
                </ul><br>
                <a class="btn btn-primary ml-auto" href="{% url 'vote-create' %}" role="button">Vote for Course</a>
                
            </p>
		</div>
	</article>

{% endblock content %}