{% extends "myClassrooms/base.html" %}


{% block content %}
    <h1> Classrooms </h1>
    {% for item in classroom %}
	    <br><hr>
		<article class="media content-section">
			<div class="media-body">
				<p><b>Classroom:</b> {{item.name}} </p>
				<p><b>Courses:</b></p>
                <ul>
                    {% for course in item.course.all %}
                    <li>{{course.name}}</li>
                    {% endfor %}
                </ul>
				<p><b>Location:</b> {{item.location}}</p>
				<img src="media/{{item.classroomImage}}" width="300px">
			</div>
		</article>
	{% endfor %}

{% endblock content %}