{% extends "myClassrooms/base.html" %}


{% block content %}
    <h1> Classroom Detail </h1>   
    <br><hr>
	<article class="media content-section">
		<div class="media-body">
			<p><b>Classroom:</b> {{object.name}} </p>
			<p><b>Courses:</b></p>
            <a class="btn btn-primary ml-auto" href="{% url 'vote-create' %}" role="button">Add Vote</a>
            <ul>
                {% for course in classes %}
                <li>{{course.name}}</li>
                {% endfor %}
            </ul>
			<p><b>Location:</b> {{object.location}}</p>
			<img src="/media/{{object.classroomImage}}" width="300px">
		</div>
	</article>

{% endblock content %}